<!-- As a heading -->
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <i class="navbar-brand mb-0 h1 title-color">Weather forecast</i>
  </nav>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">City name</th>
        <th scope="col">Temp.</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of weatherDataArray">
        <td>{{item.name}}</td>
        <td>{{item.id}}</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
